[submodule "jetzon.github.io"]
	path = jetzon.github.io
	url = git@github.com:jetzon/jetzon.github.io.git
[submodule "jetzon.github.io.git"]
	path = jetzon.github.io.git
	url = git@github.com:jetzon/jetzon.github.io.git
	branch = master
