---
title: About JETZON
linkTitle: About
menu:
  main:
    weight: 10

---

{{< blocks/cover title="About" image_anchor="bottom" height="min" >}}

<div class="lead mt-1 mb-5">
	<img src="JETZON-reverseTZ.svg" alt="Logo" style="max-width:50%;" >
	<p class="lead mt-4">Joint Exploration of the Twilight Zone Ocean Network</p>
</div>

{{< /blocks/cover >}}

{{% blocks/lead %}}
<p>The ocean's Twilight Zone, the dimly led region extending from a few hundred meters depth to 1000 m, is still poorly understood from almost any perspective, whether physics, biochemistry or ecology. However, it contains possibly the world's largest and least exploited fish stock and is responsible for recycling roughly 80% of the organic material that enters the ocean's interior from productive surface waters. The former has drawn attention due to increasing demand for resources from a growing world population.There is therefore a pressing need to understand the consequences of perturbing this ecosystem. </p>

<p>JETZON was set up to address the question: how can we as an international scientific community obtain the greatest insight into the Twilight Zone from ongoing work and how can we maintain focus on this potentially threatened environment? </p>
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h2 class="text-center">How we started</h2>
</div>

JETZON has to origin in the BIARRITZ (Bridging International Activity and Related Research Into the Twilight Zone) workshop in July 2019, funded by the National Environmental Research Council (UK), NASA, OCB, and SCOR. The workshop brought together 13 international projects tacking aspects of the Twilight Zone's role and function, from viruses to fish. 

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Current community</h1>
</div>

{{% blocks/feature icon="fas fa-user-cog" title="APERO (F)" url="https://jetzon.org" %}}
Some text here and a link [APERO](https://jetzon.org)
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-check" title="COMICS (UK)" url="http://comics.ac.uk/" %}}
Controls over Ocean Mesopelagic Interior Carbon Storage ([COMICS](http://comics.ac.uk/)) is a four-year collaborative research project that aims to quantify the flow of carbon in the ocean’s ‘twilight’ zone in order to more accurately model global climate change.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-check" title="CUSTARD (UK)" url="https://roses.ac.uk/custard/" %}}
The Carbon Uptake and Seasonal Traits in Antarctic Remineralisation Depth ([CUSTARD](https://roses.ac.uk/custard/)) project will examine how seasonal changes in food availability for phytoplankton at a key junction of the global ocean circulation influences how long carbon is trapped in the ocean rather than escape to the atmosphere as carbon dioxide.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-satellite" title="EXPORTS (US)" url="https://oceanexports.org/" %}}
EXport Processes in the Ocean from Remote Sensing ([EXPORTS](https://oceanexports.org/)) is a large-scale NASA-led field campaign that will provide critical information for quantifying the export and fate of upper ocean net primary production (NPP) using satellite observations and state of the art ocean technologies.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-check" title="FLUXES (ES)" url="http://iocag.ulpgc.es/research/projects/fluxes-constraining-organic-carbon-fluxes-eastern-boundary-upwelling-system-cape" %}}
[FLUXES](http://iocag.ulpgc.es/research/projects/fluxes-constraining-organic-carbon-fluxes-eastern-boundary-upwelling-system-cape): Constraining organic carbon fluxes in an Eastern Boundary Upwelling system (Cape Blanc; NW Africa): the role of non-sinking carbon in the context of the biological pump
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-rocket" title="GOCART (UK)" url="http://projects.noc.ac.uk/gocart/" %}}
Gauging ocean Organic Carbon fluxes using Autonomous Robotic Technologies ([GOCART](http://projects.noc.ac.uk/gocart/)) represents a significant advance in quantifying temporal variability in remineralisation depth, which is key to reducing uncertainty in model predictions of ocean carbon storage, and yet currently almost entirely unknown.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-fish" title="MEESO (EU)" url="https://www.ices.dk/explore-us/projects/Pages/MEESO.aspx" %}}
The overall goal of [MEESO](https://www.ices.dk/explore-us/projects/Pages/MEESO.aspx) is to quantify the spatio-temporal distributions of biomass, production and ecosystem role of mesopelagic resources and to assess options to sustainably manage and govern their exploitation. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-check" title="Ocean Twilight Zone (US)" url="https://twilightzone.whoi.edu/" %}}
[OTZ](https://twilightzone.whoi.edu/) will combine exacting science, innovative technology, and broad engagement to turn knowledge into actions that improve understanding of our planet and how to live sustainably on it.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-clock" title="PICCOLO (UK)" url="https://roses.ac.uk/piccolo/" %}}
Processes Influencing Carbon Cycling: Observations of the Lower limb of the Antarctic Overturning. [PICCOLO](https://roses.ac.uk/piccolo/)'s goal is to quantify the crucial processes that determine carbon cycling in the lower limb of the Southern Ocean overturning circulation.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-cog" title="REFINE" url="https://jetzon.org" %}}
Some text here and a link [REFINE](https://jetzon.org)
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-cog" title="SOLACE" url="https://jetzon.org" %}}
Some text here and a link [SOLACE](https://jetzon.org)
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-fish" title="SUMMER (EU)" url="https://www.ices.dk/news-and-events/news-archive/news/Pages/Mesopelagic-resources-IJMS.aspx" %}}
Sustainable Management of Mesopelagic Resources ([SUMMER](https://www.ices.dk/news-and-events/news-archive/news/Pages/Mesopelagic-resources-IJMS.aspx)) will establish a protocol to accurately estimate mesopelagic fish biomass, quantify the ecosystem services provided by the mesopelagic community (food, climate regulation and potential for bioactive compounds) and develop a decision support tool to measure the trade-offs between the different services.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user" title="SeaPump" url="https://jetzon.org" %}}
Some text here and a link [SeaPump](https://jetzon.org)
{{% /blocks/feature %}}

{{< /blocks/section >}}
